@font-face {
    font-family: 'iconfont';
    /* project id 1625065 */
    src: url('//at.alicdn.com/t/font_1625065_0z48rldgiuu.eot');
    src: url('//at.alicdn.com/t/font_1625065_0z48rldgiuu.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1625065_0z48rldgiuu.woff2') format('woff2'), url('//at.alicdn.com/t/font_1625065_0z48rldgiuu.woff') format('woff'), url('//at.alicdn.com/t/font_1625065_0z48rldgiuu.ttf') format('truetype'), url('//at.alicdn.com/t/font_1625065_0z48rldgiuu.svg#iconfont') format('svg');
}

.iconfont {
    font-family: iconfont!important;
    font-size: 50px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .1px;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont_a {
    cursor: pointer;
    font-family: iconfont!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .1px;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.4;
}

.iconfont_a:hover {
    opacity: 1;
}