@font-face {
    font-family: 'iconfont';
    /* project id 1625065 */
    src: url('//at.alicdn.com/t/font_1625065_258ua38hxko.eot');
    src: url('//at.alicdn.com/t/font_1625065_258ua38hxko.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1625065_258ua38hxko.woff2') format('woff2'), url('//at.alicdn.com/t/font_1625065_258ua38hxko.woff') format('woff'), url('//at.alicdn.com/t/font_1625065_258ua38hxko.ttf') format('truetype'), url('//at.alicdn.com/t/font_1625065_258ua38hxko.svg#iconfont') format('svg');
}

.iconfont {
    font-family: iconfont!important;
    font-size: 50px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .1px;
    -moz-osx-font-smoothing: grayscale;
}